body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;

    header{
        height: 10%;
        display: flex;
        justify-content: space-around;
        background-color: #1f1f1f;
        color: white;
        
        button{
            background: none;
            border: none;
            color: gray;
            cursor: pointer;
            transition: ease .3s;

            &:focus{
                outline: none;
            }
            &:hover{
                color: white;
                border-bottom: 3px solid #038487;
            }
        }
        .active{
            color: white;
            border-bottom: 3px solid #038487;
        }
    }
    main{
        height: 83%;
        background-color: #141414;
        color: white;
        display: grid;
        grid-template-rows: 11% 8% 78%;

        .search-section{
            padding: 10px;
        }
    }
    footer{
        height: 7%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #1f1f1f;
        color: white;
        font-size: 18px;

        a{
            color: white;
            text-decoration: none;
            transition: 0.3s;

            span{
                color: white !important;
            }
            
            &:hover{
                color: #038487;
            }

        }
    }
}
.search{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 60%;
    border-radius: 24px;
    height: 100%;
    margin: 0 auto;    
    transition: 0.5s;
    &:hover{
        box-shadow: 0 1px 6px 0 rgba(66,133,244,1);
        border-color: rgba(223,225,229,0);
    }
    &>div{
        flex: 1;
        display: flex;
        align-items: center;
        padding-left: 14px;

        input{
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;
            color: rgba(0,0,0,.87);
            word-wrap: break-word;
            outline: none;
            display: flex;
            flex: 100%;
            -webkit-tap-highlight-color: transparent;
            height: 100%;
            font-size: 16px;
        }
        div{
            display: flex;
            height: 100%;

            button{
                height: 100%;
                display: flex;
                flex: 1 0 auto;
                cursor: pointer;
                align-items: center;
                border: 0;
                background: transparent;
                outline: none;
                padding: 0 8px;
                color: #80868b;
                font-size: 20px;
                transition: 0.3s;
                &:hover{
                    font-size: 21px;
                }
            }
            .active{
                color: #038487;
            }
            span{
                border-left: 1px solid #dfe1e5;
                height: 65%;
                display: flex;
                align-self: center;
            }
        }
    }
}
.search-button{
    height: 100%;
    width: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
    background: none;
    color: #038487;
    font-size: 20px;
    transition: 0.3s;

    &:hover{
        font-size: 22px;
        width: 50px;
    }

    &:focus {
        outline: none;
    }
}
.keyboard-container{
    position: fixed;
    height: 0;
    z-index: 99;
    bottom: 0px;
    overflow: hidden;
    transition: ease-out 0.5s;
    width: 100%;
    display: flex;
    justify-content: center;
}
.active-keyboard{
    height: 280px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        margin: 0;
    }
}

.swiper-container {
    width: 100%;
}
.swiper-wrapper {
    height: 95% !important;
}
.swiper-pagination{
    bottom: 0px !important;
}
  .swiper-slide {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    background-color: #1f1f1f;
    justify-content: center;

    a{
        color: white;
        text-decoration: none;
        align-self: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 10px;
        transition: ease 0.3s;

        &:hover{
            color: #038487;
        }
    }

    .image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-star{
            color: yellow;
        }
        button{
            position: absolute;
            bottom: 2%;
            right: 2%;
            background: transparent;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
            transition: ease 0.3s;
            
            &:hover{
                font-size: 22px;
            }
        }
    }
  }