@mixin size {
    width: 300px;
    height: 240px;
    @media (max-width: 630px) {
        width: 200px;
        height: 160px;
    }
}
@mixin layout {
    backface-visibility: hidden; 
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column
}

header{
    background-color: #158CA1;
    border-bottom: #127ba3 solid 6px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    .burger {
        position: fixed;
        left: 20px;
        top: 17px;
        display: flex;
        font-size: 29px;
        justify-content: center;
        color: white;
        transition: transform 0.3s ease-out;
        z-index: 1000;
        cursor: pointer;
    }
    .burger-open {
        transform: rotate(90deg);
    }
    .head {
        position: fixed;
        left: 0;
        top: 0;
        display: grid;
        grid-template-rows: 70px calc(100vh - 70px);
        margin: 0;
        height: 70px;
        background-color: #158CA1;
        width: 100%;
        min-width: 320px;
        overflow: hidden;
        justify-content: center;        
        transition: height 0.3s linear, width 0.3s linear 0.3s;
        .logo{
            color: white;
            display: grid;
            align-items: center;
            grid-template-columns: 100% 30%;
            padding-left: 60px;
        }
        nav {
            overflow: auto;
            #navbar {
                li{
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover {
                        font-weight: 700;
                    }
                }
                .link-active {
                    font-weight: 900;
                }
            }
        }
    }
    .bmOpen {
        width: 365px !important;
        height: 100vh !important;
        transition: width 0.3s linear, height 0.3s linear 0.3s !important;
    }
}

main{
    padding-top: 80px;
    height: 100vh;
    section {
        .home-card{
            margin: 20px;
            cursor: pointer;
            border: #127ba3 solid 2px;
            &:hover {
                transform: scale(1.05);
                transition: 0.5s;
              }
              .card-header {
                background: #158CA1;
                text-align: center;
                border-bottom: #127ba3 solid 2px;
                border-radius: unset;
                font-weight: 600;
                color: white;
            }
            img{
                width: 300px;

            }
        }
        .cards{
            padding: 0 60px;
        
            .cards_container{
                perspective: 1000;
                margin: 10px;
                @include size;

                .card{
                    cursor: pointer;
                    height: 200px;
                    transition: 0.6s;
                    transform-style: preserve-3d;            
                    position: relative;
                    @include size;
                    
                    .front{
                        @include size;
                        @include layout;
                        z-index: 2;                        
                        border: #127ba3 solid 2px;
                        background-size: cover;
                        &:hover{
                            box-shadow: 0px 0px 24px 1px rgba(16,106,140,1);
                            transition: 0.5s;
                        }
                    }
                    .back{
                        @include size;
                        @include layout;
                        transform: rotateY(180deg);                        
                        border: #127ba3 solid 2px;
                        background-size: cover;
                    }
                    .card-image {
                        flex: 1 1 auto;
                        background-size: cover;
                        background-position: center;
                    }
                    .card-header {
                        background: #158CA1;
                        text-align: center;
                        border-bottom: #127ba3 solid 2px;
                        border-radius: unset;
                        font-size: 21px;
                        height: 45px;
                        overflow: hidden;
                        padding: 5px;
                        color: white;
                    }
                    .btn{
                        color: white;
                        z-index: 5;
                        height: 33px;
                        width: 34px;
                        font-size: 14px;
                        margin: 4px;
                        padding: 5px 0;
                        margin-left: 8px;
                        margin-top: 7px;
        
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
                .hover{
                    transform: rotateY(180deg);
                }
            }
        }
        .start_but{
            position: fixed;
            top: calc(100vh - 50px);
            width: 95vw;
            right: 1.5vw;
            z-index: 10;
            transition: 0.5s;
            height: 45px;
        }
        .repeat{
            width: 45px;
            padding: 5px 0;
            right: 6px;
        
            img{
                width: 35px;
            }
        }
        .stars {
            z-index: 10;
            position: fixed;
            top: 83px;
            height: calc(100vh - 140px);
            right: 5px;
            width: 40px;
            overflow: hidden;
            background-color: white;
            img{
                width: 30px;
                height: 30px;
            }
        }

        .fill{
            height: 70vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            text-align: center;

            h3{
                height: 65vh;
                font-size: 31px;
                color: cadetblue;
                font-weight: 900;
            }
            p{
                font-style: italic;
            }
        }
        .but_container{
            display: flex;
            justify-content: space-between;
            margin: 10px 40px;
        }
    }    
}

.blurOpen {    
    z-index: 450 !important; 
    background-color: rgba(0,0,0,0.4) !important;
    transition: z-index 0.6s step-start, background-color 0.6s linear !important;
}

#blur {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0);
    transition: z-index 0.6s step-end, background-color 0.6s linear;
}
.background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 71px;
    width: 100%;
    background-color: #158CA1;
    z-index: 400;
}

@media (max-width: 630px) {
    h1{
        width: 0;
        display: none;
    }
    .home-card img {
        width: 250px;
    }
}
 

 

 
